PORT=4000
MONGO_URL=mongodb://localhost:27017/test3
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=asmaster
SECERT=A2345:::254682uyyihkgjgifqhhk@-_(-è--'è

# Mailer
MAIL_GUN_API_KEY=MAIL_GUN_API_KEY
MAIL_GUN_DOMAIN=MAIL_GUN_DOMAIN.mailgun.org
